<div class="container-fluid">
  <!--<div class="row bg-success justify-content-center
            align-items-center" style="height:80px">
    <div class="col-3"></div>
    <div class="col-6 text-light h2">
      Todo App
    </div>
  </div>

  &lt;!&ndash;Division for taking input from user &ndash;&gt;
  <div class="row mt-1" style="height:80px;">
    <div class="col-3 d-none col-md-3 d-md-block"></div>
    <div class="col-12 col-md-6 bg-success d-flex
                    justify-content-center align-items-center
                    text-light h3">

      <input [(ngModel)]="newTask" type="text"
             value="" class="col-7 form-control"
             style="width:300px;">

      <div class="col-1"></div>

      <button (click)="addToList()" appHighlight="yellow"
              class="btn btn-light text-success">
        ADD TASK
      </button>
    </div>

    <div class="col-3 d-none col-md-3 d-md-block"></div>
  </div>

  &lt;!&ndash;Tasks added repeated divisions&ndash;&gt;
  <div *ngFor="let x of items; let index = index;"
       class="row mt-1" style="height:100px;">

    <div class="col-3 d-none col-md-3 d-md-block"></div>

    <div class="col-12 col-md-6 bg-success d-flex
                    justify-content-center align-items-center
                    text-light h3">

      <div class="col-9 text-light h3">{{x}}</div>

      <input (click)="deleteTask(index)" type="button"
             value="Delete" class="col-2 btn btn-danger">
    </div>

    <div class="col-3 d-none col-md-3 d-md-block"></div>
  </div>-->
<!--  <h1>My First Attribute Directive</h1>

  <h2>Pick a highlight color</h2>
  <div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
  </div>
  <p [appHighlight]="color">Highlight me!</p>-->
  <nav>
    <ul>
      <li><a routerLink="/formGroup" routerLinkActive="active">Form Group</a></li>
      <li><a routerLink="/formBuilder" routerLinkActive="active">Form Builder</a></li>
      <li><a routerLink="/ngForm" routerLinkActive="active">NG Form</a></li>
      <li><a routerLink="/post" routerLinkActive="active">Post List</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
