<div class="container">
<!--  <div *ngFor="let post of posts">
    <strong>{{post.title}}</strong>
    <div>{{post.body}}</div>
  </div>-->
<!--  <label for="user"> Select User
    <select id="user" name="user">
        <option *ngFor="let user of users" value="{{user.id}}">{{user.username}}</option>
    </select>
  </label>-->
  <label for="user"> Select User
    <select id="user" name="user">
      <option *ngFor="let user of users" [ngValue]="user.id">{{user.username}}</option>
    </select>
  </label>
</div>
